[Unit]
Description=PAX Air Cargo API
After=network.target

[Service]
Type=simple
User=bitnami
WorkingDirectory=/home/bitnami/pax-air-cargo-api
Environment="NODE_ENV=production"
Environment="CORS_ORIGIN=https://main.d3k5rru5tez6dk.amplifyapp.com"
Environment="PORT=3000"
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=append:/var/log/pax-cargo-api.log
StandardError=append:/var/log/pax-cargo-api-error.log

[Install]
WantedBy=multi-user.target
